html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
    background-color: #f4f4f4;
    color: #36454f;
    font-family: Franklin Gothic Medium;
}

body {
    display: table;
}

#container {        
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

h1 { 
    font-size: 250%;
} 
    
h2 {
    font-style: italic;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.links {
    margin: 20px;
} 

#avatar { 
    margin: 20px;
    width: 200px;
    height: 200px;
}
